* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
  width: 0;
}
input:focus {
  outline: none;
  border: none;
}
*button:hover {
  cursor: pointer !important;
}
body,
html {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
}
.box {
  /* display: flex;
  flex-direction: column; */
  width: 100vw;
  height: 100vh;
}
.navBar {
  width: 100vw;
  height: 56px;
  display: flex;
  background-color: white;

  > .navBarLeft {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    > .facebookLogo {
      display: block;
      position: static;
      justify-content: center;
    }
  }

  > .navBarCenter {
    width: 40vw;
    /* background-color: whitesmoke; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
  > .navBarRight {
    margin: 5px;
    padding: 5px;
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.logo {
  display: flex;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
*.logo:hover {
  cursor: pointer;
}
.SearchBardiv {
  display: flex;
  padding: 5px;
  min-width: 80%;
}
.searchSVG {
  display: flex;
  align-items: center;
  background-color: #f0f2f5;
  border-radius: 15px 0 0 15px;
}
.SearchBar {
  width: 100%;
  height: 30px;
  background-color: #f0f2f5;
  border: none;
  border-radius: 0 15px 15px 0;
  color: gray;
}
.nBC {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBarCenter :hover {
  background-color: #f1efef;
  border-radius: 5px;
  /* box-shadow: 2px 2px 5px blue; */
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
}
.nBR {
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  height: calc(100vh - 56px);
  justify-content: space-between;
}

.bodyLeft {
  width: 360px;
  max-width: 25vw;
  height: calc(100vh - 56px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}
.bodyRight {
  padding: 0 8px;
  width: 360px;
  min-width: 25vw;
  height: calc(100vh - 56px);
  background-color: #f0f2f5;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  overflow-y: auto;
}
.bodyCenter {
  width: 50vw;
  max-width: 590px;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 32px;
}

.nameImage {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
*.nameImage:hover {
  cursor: pointer;
  background-color: hwb(0 90% 9%);
  transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.UserNameHold {
  font-weight: 600;
  font-size: larger;
}
.Shortcuts {
  margin-top: 10px;
}
.sponsoredAd {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: flex-start;
  align-items: stretch;
}
.sponsoredAdlogo {
  width: 72px;
  height: 72px;
  /* background-color: green; */
  border-radius: 10px;
  margin: 5px;
}

.sponsoredAdname {
  width: auto;
  border-radius: 10px;
  margin: 5px;
}
.sal2 {
  height: 50px;
  width: 50px;
}
.frWhatToDo {
  display: flex;
  margin: 3px;
  align-items: stretch;
}
h2 {
  margin: 2px;
}

.confirm {
  color: white;
  background-color: rgb(27, 89, 234);
  padding: 0 5px;
}
.delete {
  background-color: #f1f1f1;
}
.bdName {
  height: 70px;
  width: auto;
}

.stories {
  width: 100%;
  max-width: fit-content;
  height: auto;
  display: flex;
  background-color: white;
  /* min-width: 560px; */
  overflow-x: scroll;
  min-height: 250px;
  border-radius: 15px;
}
.story {
  background-color: black;
  height: 250px;
  margin: 0 10px;
  min-width: 140px;
  border-radius: 10px;
}
.story1 {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 2px;
}
.storyImage {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 140px;
  object-fit: cover;
  overflow-x: hidden;
}
.createStory {
  text-align: center;
  background-color: gray;
  border-radius: 0 0 10px 10px;
  height: 50px;
  width: 140px;
}
.createStory1 {
  position: relative;
  top: 20px;
}

.plusIcon {
  display: flex;
  background-color: rgb(0, 110, 255);
  height: 32px;
  width: 32px;
  position: absolute;
  top: 184px;
  left: 54px;
  border-radius: 50%;
}
.storyLogo {
  width: 32px;
  height: 32px;
  background-color: violet;
  border: 4px solid blue;
  border-radius: 50%;
  position: relative;
  left: 10px;
  top: 10px;
}
.createPost {
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.postBarUP {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.postBarUPWriting {
  width: 90%;
  height: 27px;
  min-width: 50%;
  background-color: #f0f2f5;
  border: none;
  border-radius: 25px;
  color: gray;
  padding: 8px 12px;
}
.postBarDown {
  display: flex;
  justify-content: space-around;
  align-items: centre;
  justify-content: space-evenly;
  margin: 10px;
}
.pbdButtonLogo {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.pbd-button {
  margin: 5px;
}
button {
  background-color: transparent;
  height: 30px;
  border: none;
}
.postBarDown :hover {
  cursor: pointer;
  background-color: f1efef;
}
.postsByPeople {
  width: 100%;
  background-color: white;
  margin-bottom: 10px;
}
.postsByPeopleInfo {
  display: grid;
  grid-template-columns: 48px auto 85px;
}
.postsByPeopleInfoProfile {
  position: relative;
}
.BpostsByPeopleInfoProfile {
  position: absolute;
  border-radius: 50%;
  right: 10px;
  top: 18px;
}
.postsByPeopleInfoName {
  display: grid;
  grid-template-rows: auto auto;
}
.postsByPeopleInfoNameUserName {
  display: flex;
  color: gray;
}
.h6 {
  margin: 0;
}
.postsByPeopleInfoNameUserNameList {
  display: flex;
  /* font-size: 10px;
  position: relative;
  top: -10px;
  left: -30px; */
}
.postDuration {
  margin-left: 27px;
}
.GroupLogoSVG {
  padding-left: 5px;
}
.x {
  position: relative;
  margin-top: 15px;
  /*bottom: 40px;
  left: 50px; */
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/1sOcyY3oTr-.png");
  background-position: 0 -494px;
  background-size: 26px 1012px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
.postsByPeopleDescription {
  min-height: 30px;
  height: auto;
}
.postsByPeoplePhoto {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.postsByPeoplePhotoMain {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* min-width: 500px; */
  /* width: calc((100vh + -325px) * 0.6666666666666666); */
}
.postsByPeopleLikeCommentShare {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: whitesmoke;
}
.emojiLCS {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  padding: 8px;
  > .likeImage {
    display: flex;
    align-items: center;
  }
}
.buttonLCS {
  display: flex;
  /* font-size: larger; */
  color: gray;
  justify-content: space-evenly;
  align-items: center;
}
.rsv {
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  min-height: 270px;
}
.reelsAndShortVideos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 100%;
  height: auto;
  min-height: 250px;
  overflow: hidden;
  background-color: white;
  overflow-x: scroll;
  border-radius: 15px;
  margin-bottom: 10px;
  /* padding: 5px; */
}
.reel {
  background-color: palevioletred;
  /* background-color: black; */
  height: 240px;
  margin: 0 10px;
  min-width: 140px;
  border-radius: 10px;
}
